*{
     box-sizing: border-box;
     font-family: "Outfit", serif;
}
header {
    width: 1566px;
    height: 200px;
   background-color: gainsboro;
    margin: 0 auto;
    text-align: center;

}

nav {
    width: 1566px;
    height: 50px;
    background-color: darkcyan;
    margin: 0 auto;
    display:flex ;
    justify-content: space-evenly;
    align-items: center;

}
nav a{
    color: white;
    text-decoration: none;
    padding: 8  px 8px;
    font-family: "Zen Loop", serif;
    font-size: 30px;
}

nav a:hover{
    background-color: firebrick
    
}

main {
    width: 1566px;
    height: auto;
   background-color: darksalmon;
    margin: 0 auto;
    background-image: url(../personajes/HuGGeENt6kGyixe3hT9tnY-1200-80.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin: 0 auto;
}

.personaje {
    width: 1300px;
    height: 400px;
   background-color: rgba(255, 228, 196, 0.409);
    margin-top: 20px;
    margin-left: 33px;
    display: inline-block;
}

.foto {
    width: 400px;
    height: 400px;
  background-color: burlywood ;
    float: left;
    margin-left: 33px;
}

.foto img {
    height: 100%;
}
.texto h2{

    font-family: "Outfit", serif;
}
.texto {
    height: 400px;
    width: 800px;
    float: left;
    margin-left: 33px;
    padding: 20px;
}

footer {
    width: 1566px;
    height: 300px;
   background-color: plum;
    margin: 0 auto;
}
